<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Terratattle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/screen.css">
  </head>
  <body>
    <div class="search">
      <h1 class="mb-4"><img src="/static/terraform.png" class="logo"> Terratattle</h1>
      <form method="POST">
        <div class="input-group">
          <input class="form-control" name="org" placeholder="Enter GitHub Organization" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Tattle!</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

